body{
	background: #666;
	font-family: 'Flavors', cursive;
	margin: 0;
	padding: 15px;
}

select, input {
	color:#fff;
	width: 100%;
    background: #0098db;
    padding: 10px;
    display: block;
    height: 30px;
    font-size: 14px;
	font-family: 'Autour One', cursive;
    border: 0px;
    border-radius: 3px;
    box-sizing: border-box;
}

input::placeholder{
	color: #fff;
	opacity: 0.5;
	font-size: 12px;
}

.width-100 {
	width: 100%;
}

.scoreBoard, .highestScore {
	color: #fff;
	font-family: 'Autour One', cursive;
	padding: 10px;
    background: #666;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 10px;
}

.highestScore {
	color: #2ecc71;
}

.scoreBoard  .scoreCard {
	margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.scoreBoardCardContainer {
	overflow: auto;
	max-height: 330px;
}

.popupOverlay{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
}

.gameContainer {
	position: relative;
	display: flex;
}

.gamePadArea {
	width: 70%;
	height: 100%;
	position: relative;
	background: #222;
}
.otherArea {
	width: 29%;
	height: 100%;
	margin-left: 1%;
	background: #222;
	padding: 20px;
	box-sizing: border-box;
}


.gamePadArea .gamePad{
	position: absolute;
	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  
}

.gamePadArea .scoreAlert, .gamePadArea .gameOver {
	display: none;
  	position: absolute;
  	color: #fff;
  	font-size: 30px;
	top: 50%;
  	left: 50%;
  	width: 50%;
  	height: 50%;
  	transform: translate(-50%, -50%);
  	background: #fff;
  	border-radius: 10px;
  	background: #0098db;
	font-family: 'Autour One', cursive;
  	text-align: center;
  	padding: 25px;
  	box-sizing: border-box;
}

.gamePadArea .gameOver.gameFinished {
	background: #2ecc71;
	width: 65%;
	height: 65%;
}

.gamePadArea .gameOver .gameFinishHeader{
	display: none;
}

.gamePadArea .gameOver.gameFinished .gameFinishHeader{
	display: block;
}



.gamePadArea .gameOver.gameFinished .gameOverHeader{
	display: none;
}

.gamePadArea .gameOver {
	width: 60%;
  	height: 60%;
	background: #c0392b;
}


.ball {
  box-sizing: border-box;;
  width: 100px;
  height: 100px;
  position: absolute;
  background: orange;
  border-radius: 50%;
  border: 1px solid #333;
}

button {
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
	border: 0px;
	background: #f39c12;
	min-width: 100px;
	min-height: 50px;
	font-family: 'Autour One', cursive;
	cursor: pointer;
	transition: all 0.25s ease;
}

button:hover, button:active {
	background: #f1c40f;
}